<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleTVPong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D337D911BB851AB0078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D337DA81BB851AB0078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D337DB31BB851AB0078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D337E021BB864470078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D337E181BB864470078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D337E231BB864480078D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
